<!-- start custom footer snippets
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->

<div class="page__footer-follow">
    <ul class="social-icons">
        <li><a href="https://scholar.google.com/citations?user=PVA6lnMAAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i> Google Scholar</a></li>
        <li><a href="https://orcid.org/0000-0002-7682-0596" target="_blank"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
        <li><a href="https://www.webofscience.com/wos/author/record/GIW-7237-2022" target="_blank"><span style="display:inline-block; width: 14px;"><img src='/images/clarivate.png'></span> Web of Science</a></li>
        <li><a rel="me" href="https://bsky.app/profile/giorgionicoletti.bsky.social" target="_blank"><i class="fa-brands fa-square-bluesky"></i> Bluesky</a></li>
    </ul>
  </div>
  