---
layout: archive
title: "Talks, presentations and posters"
permalink: /talks/
author_profile: true
---

<p>The markers on the map represent a conference, workshop, or institute where I presented my work, either <span class="k-invited">invited talks</span> or <span class="k-contributed">contributed talks and posters</span>. Click on a marker for more information.</p>

<iframe class="embed embed--map" src="/talkmap/talks_map.html" title="Map of talks and contributions"></iframe>

{% assign talks = site.talks | sort: "date" | reverse %}
{% assign by_year = talks | group_by_exp: "t", "t.date | date: '%Y'" %}
{% for year in by_year %}
<h2>{{ year.name }}</h2>
{% for post in year.items %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endfor %}
