{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  {% if post.permalink contains "://" %}
    <a class="cv-item__title" href="{{ post.permalink }}" target="_blank" rel="noopener">{{ title }}</a>
  {% else %}
    <a class="cv-item__title" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  {% endif %}<br>
  <span class="cv-item__sub">
    {{ post.type }}{% if post.venue %}, <i>{{ post.venue }}</i>{% endif %}{% if post.courseDates %}, {{ post.courseDates }}{% endif %}
  </span>
</li>
